*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    position: relative;
}

/* body container div */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    max-width: 100%
}

/* header tag */
header {
    left: 0px;
    right: 0px;
    top: 0px;
    position:absolute;
    height: 4rem;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    line-height: 3;
    font-size: 20px;
}
/* the main calculator body container */
.calculator {
    display: grid;
    position: relative;
    border-width: 20px;
    margin: 60px 10px 50px 10px;
    border-radius: 15px;
    background-color: gray;
    min-width: 450px;
    min-height: 600px;
    max-width: 450px;
    max-height: 600px;
    outline: 2px solid black;
    box-shadow: -1px 3px 1px 1px black;
}
/* screen container */
.screen-container {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
/* calculator screen */
.screen {
    border-radius: 15px;
    height: 6rem;
    width: 90%;
    background-color: rgb(198, 214, 183);
    outline: 1px solid lightgray;
    box-shadow: -1px 1px 1px 1px lightgray;
}
/* buttons-container */
.buttons-container {
    display: grid;
    justify-content: center;
    border-radius: 15px;
    height: 450px;
    background-color: gray;
}
/* buttons styling */
.push {
    background: rgb(243, 241, 242);
    box-shadow: -1px 1px lightgray, -2px 2px lightgray, -1px 1px lightgray;
    border: 1px solid lightgrey;
    padding: 4px;
    cursor: pointer;
    outline-offset: 4px;
    height: 90px;
    width: 100px;
    border-radius: 12px;
}
/* button press effect */
.push:hover {
    background-color: rgb(243, 241, 242);
}
.push:active {
    background-color: rgb(243, 241, 242);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/* button text */
.button-text {
    display: block;
    padding: 12px 35px;
    border-radius: 12px;
    font-size: 1.50rem;
}
/* button row-one */
.row-one {
    display: flex;
    height: 112.5px;
    width: 400px;
    gap: 10px;
}
/* button row-two */
.row-two {
    display: flex;
    height: 112.5px;
    width: 400px;
    gap: 10px;
}
/* button row-three */
.row-three {
    display: flex;
    height: 112.5px;
    width: 400px;
    gap: 10px;
}
/* button row-four */
.row-four {
    display: flex;
    height: 112.5px;
    width: 400px;
    gap: 10px;
}
/* footer tag */
footer {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    position:absolute;
    height: 2rem;
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
    line-height: 2;
    font-size: 20px;
}